body{
	background: white;	
}
nav{
	background: orange;
}
nav > ul{
	margin: 0px;
	padding: 0px;
}
nav > ul::after{
	content: "";
	display: block;
	clear: both;
}
nav > ul > li{
	float:  left;
	position: relative;
}
nav > ul > li > a{
	padding: 20px 30px;
	color: black;
	font-size: 3vh;
}
nav li{
	list-style-type: none;
}
.submenu{
	display: none;
}
nav a{
	display: inline-block;
	text-decoration: none;
}
nav li:hover .submenu{
	display: inline-block;
	position: absolute;
	top: 100%;
	left: 0px;
	padding: 0px;
	z-index: 1000;
}
nav li:hover a{
	color: orange;
	background: black;
	transition: 0.3s all;
	width: 100%;
	height: 100%;
}
.submenu li{
	border-bottom: 1px solid orange;
	background: orange;
}
.submenu li a{
	padding: 15px 30px;
	font-size: 2vh;
}
div.titre p{
	font-size: 7vh;
	text-shadow: 2px 2px 5px orange;
	text-align: center;
	animation: apparition 0.8s ease-out;
}
@keyframes apparition{
	from{
		opacity: 0;
		transform: translateY(-100px);
	}
	to{
		opacity: 1;
		transform: translateY(0px);
	}
}
ul.paragraphe{
	width: 60vh;
	height: 60vw;
	position: relative ;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
}


.title {
	list-style-type: none;
	list-style-type: none;
	text-decoration: underline;
	font-size: 35px;
	text-shadow: 2px 2px 5px orange;
}
.titlespe{
	font-size: 25px;
	text-shadow: 2px 2px 5px darkorange;
}
.som{
	list-style-type: circle;
	text-decoration: none;
	font-size: 25px;
}
img.left{
	width: 50vh;
	height: 28vh;
	position: absolute;
	top: 0;
	left: 2vh;
	bottom: 0;
	margin: auto 0;
}
img.right{
	width: 50vh;
	height: 28vh;
	position: absolute;
	top: 0;
	right: 2vh;
	bottom: 0;
	margin: auto 0;
}
img.Lclevland{
	width: 32vh;
	height: 18vh;
}
img.Lmiami{
	width: 32vh;
	height: 18vh;
}
img.Llakers{
	width: 32vh;
	height: 18vh;
}
.tableau{
	position: absolute;
	border-collapse: collapse;
	min-width: 64vh;
	width: auto;
	box-shadow: 0 5px 50px rgba(0, 0, 0, 0.5);
	left: 0;
	right: 0;
	bottom:-70vh;
	margin: auto;
	border: 2px solid dark;
}
thead tr{
	background-color: darkorange;
	text-align: left;
}
td{
	padding: 15px 20px;
}
tbody tr,td,th{
	border: 1px solid black;
} 
.espace{
	height: 50vh;
	background: white;
	color:white ;
}
footer{
	background: orange;
	height: 25vh;
}
ul.bas{
	font-size: 3vh;
	list-style-type: none;
	margin-left: 30px;
}
li.lien{
	text-decoration: underline;
	display:inline-block ;
	margin-left: 10vh;	
}
li.lien a{
	color: blue;
}
.nba{
	width: 25vh ;
	weight: 25vh;
	position: absolute;
	right: 15vh;
}