body{
	background: white;	
}
nav{
	background: orange;
}
nav > ul{
	margin: 0px;
	padding: 0px;
}
nav > ul::after{
	content: "";
	display: block;
	clear: both;
}
nav > ul > li{
	float:  left;
	position: relative;
}
nav > ul > li > a{
	padding: 20px 30px;
	color: black;
	font-size: 3vh;
}
nav li{
	list-style-type: none;
}
.submenu{
	display: none;
}
nav a{
	display: inline-block;
	text-decoration: none;
}
nav li:hover .submenu{
	display: inline-block;
	position: absolute;
	top: 100%;
	left: 0px;
	padding: 0px;
	z-index: 1000;
}
nav li:hover a{
	color: orange;
	background: black;
	transition: 0.3s all;
	height: 100%;
	width: 100%;
}
.submenu li{
	border-bottom: 1px solid orange;
	background: orange;
}
.submenu li a{
	padding: 15px 30px;
	font-size: 2vh;
}
ul.paragraphe{
	list-style-type: none;
}
p.title{
	font-size: 7vh;
	text-shadow: 2px 2px 5px orange;
	text-align: center;
	animation: apparition 0.8s ease-out;
}
@keyframes apparition{
	from{
		opacity: 0;
		transform: translateY(-100px);
	}
	to{
		opacity: 1;
		transform: translateY(0px);
	}
}
p.texte{
	font-size: 3vh;
	text-align: center;
}
img.lebronrookie{
	width: 640px;
	height: 459px;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
}
.espace{
	height: 50vh;
	background: white;
	color: white;
}
div.distance{
	padding-top: 50vh;
}
footer{
	background: orange;
	height: 25vh;
}
ul.bas{
	font-size: 3vh;
	list-style-type: none;
	margin-left: 30px;
}
li.lien{
	text-decoration: underline;
	display:inline-block ;
	margin-left: 10vh;	
}
li.lien a{
	color: blue;
}
.nba{
	width: 25vh ;
	weight: 25vh;
	position: absolute;
	right: 15vh;
}