/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 oct. 2021, 14:44:10
    Author     : GCAIVEAU
*/
body{
    background-color: #9999ff;
}
.titre{
    color: grey;
    text-align: center;
    
}
.sous-titre{
    color: coral;
    text-align: center;
    font-size: 80px;
    text-shadow:2px 2px 5px white;
}
.lien{
    font-size: 150%;
    text-align: 
}
table{
    background-color: white;
}
caption{
    background-color: white;
}
ol{
    
}
