/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 oct. 2021, 14:44:10
    Author     : GCAIVEAU
*/
body{
    background-color: #9999ff;
}
.sous-titre{
    color: coral;
    text-align: center;
    font-size: 80px;
    text-shadow:2px 2px 5px white;
}
.boite{
    border: 15px solid coral;
    border-radius: 10px;
    padding: 10px;
    margin: 25px;
    width: 300px;
    height: 50px;
    background-color:#9999ff ;
}
.statique{
    position: static;
    border: 3px solid coral;
    padding: 20px;
    width: 310px;
}
.relative{
    position: relative;
    border: 3px solid coral;
    left: 30px;
    padding: 20px;
    width: 310px;  
}
.important{
    margin: 10px;
    font-size: 15px;
    padding: 5px;
    background-color: lightsteelblue;
    border: 1px black solid;
    width: 100px;
    color: grey;
    text-align: left;    
}
.moins{
    font-size: 15px;
    color: black;
}
.lien{
    text-decoration: none;
    background-color: coral; 
    position: absolute;
    right: 150px;
    font-size: 150%;
}

table{
    background-color: white;
    margin-top: 15px;
}
caption{
    background-color: white;
}
ol{
    background-color: darkblue;
    border-radius: 5px;
    margin: 5px;
    width: 50px;
    color: white;
}
.menu ul{
    list-style-type:none;
}
.menu ul li{
    padding: 5px;
    background: coral;
    border-radius: 5px;
    margin: 5px;
    width: 50px;
}
