body{
	background: whitesmoke;
}
header{
	color: royalblue;
	text-shadow: 2px 2px 5px #336699;
	text-align: center;
	font-family: inherit;
	font-size:300%;
}
nav.menu-nav ul{
	font-size: 110%;
	background:#336699 ;
}
.menu-nav ul li{
	list-style-type: none;
	display: inline-block;	
}
.menu-nav ul li:hover a{
	color: #336699;
	background: black;
	transition: 0.3s all;
}
nav.menu-nav ul li a{
	color: black;
	text-decoration: none;
	padding: 10px;
	font-size: 105%;
}
div{
	background: white;
}